body {
	background-color: grey;
	font-family: arial, sans-serif;
}

.strip {

	width: 450px;
	margin-left: 250px;
	margin-right: 150px;
}
/* green heading box*/
.top.strip  {
	
	height: 250px;
	background-color: #2ecc71;
	/*margin-left: 250px;
	margin-right: 150px;*/
	position: relative;

}
/* text within green box*/
.heading-text {
	color: white;
	/*font-family: Arial, sans-serif;*/
	font-size: xx-large;
	position: absolute;
	bottom: 10px;
	left: 10px;

}
/* blue strip with navigation */
.nav.strip {
	
	height: 50px;
	background-color: #34495e;
	/*margin-left: 250px;
	margin-right: 150px;*/
	color: white;
	/*display: inline-block;*/
	text-align: right;
	padding-top: 10px;


}
/* navagation buttons */
.list-buttons li{

	display: inline;
	padding: 0px;
	margin: 10px;
	/*font-family: arial, sans-serif;*/
	margin-bottom: 10px;
	
}
/*
.list-buttons li {
	
}*/

.white.strip {

	height: 700px;
	background-color: white;
	margin-top: -2px;
	padding-top: 34px;

}

.article-title {
	margin-left: 10px;
}

.risks {

	margin: 35px;
	font-size: 11px;
	}


h3 {
	border-bottom: 1px solid black;
	width: 430px;

}

 
/*.table {
	margin: 1em;
	border-collapse: collapse;
}

.cell.heading  {
	background-color: grey;
	border: 2px solid black;
}

.cell  {

	border: 1px solid black;
}*/

table {
  border-collapse: collapse;
  margin: 15px;
 
}


th, td{
  border: 1px solid black;
  padding: 5px;
  width: 75px;
  
}

th {
	background-color: grey;
}

a {
  border: 1px solid black;
  background-color: blue;
  color: white;
  padding: 5px 20px;
  
  
}

.midcolumn {
  width: 225px;
  
}
  







